header,footer{min-height : 55px ;
    height: 7vh;
    width:120vh;}
body{
    background-image : url(./images/fond-d-ecran-amas-coma.jpg)
}
h1,h2,p {color: white;}    
main{min-height: 90vh;
    height: 90vh;
     width: 100%;}
#menu-principal{min-height: 55px; display: flex;
     height: 7vh;
     background: rgb(98, 243, 231)}
.icone-menu{border: 0;
    line-height: 6vh;
     padding: 0 1em;
     font-size: 1rem;
     text-align: center;
     color: #fff;
     text-shadow: 1px 1px 1px #e0dede9c; 
    border-radius: 3px;
     background-color: rgb(98, 243, 231);
     padding :0vh  5vh; transition: 0.2s all;
    overflow: hidden;}
    .icone-menu:hover {
        background-color: rgb(111, 187, 238);
    } 
    .icone-menu:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
h1{position: absolute;left:30vh; top:15vh;text-align: center;}   
h2{ font-size: 2em; text-align: center;} 
#cadre-photo-profil{ height:22vh;width:22vh;margin:15px; border-image:none;border-style:solid;border-color:black;border-radius:50%;border-width:2px;overflow:hidden;}
#photo-profil{height:22vh;width:22vh;}
#titre-page{display: flex;align-items: center;justify-content: center;height:10vh;width:65%;color:blue;font-size: 2.5rem;background-color: grey;}
.icones{height:18px;width:21px; margin:0 10px;}
.menu-actif{color: red;}