/*Polices et couleurs des polices*/
@font-face {
    font-family: Fenix;
    src: url(./fonts/Fenix/Fenix.eot) format(eot),
         url(./fonts/Fenix/Fenix.svg) format(svg),
         url(./fonts/Fenix/Fenix.ttf) format(ttf),
         url(./fonts/Fenix/Fenix.woff) format(woff),
         url(./fonts/Fenix/Fenix.woff2) format(woff2);
    font-weight:400;
    font-style:normal;
}  
body{font-family: Fenix;}
p{font-style:italic;font-size:18px;}

/*dimensionnement général de la page*/
header,footer{min-height : 55px ;}
header{height:14vh;}
body{min-height:100vh;height:100vh;background-image : url(./images/fond-d-ecran-amas-coma.jpg);
    color: white;}   
main{min-height: 76vh;
     width: 100%;}
/*barre de navigation*/     
#menu-principal{min-height: 48px;
    transform: translate(32px,32px); 
     display: flex;
     height: 8vh;
     width:70vw;
     background: rgb(98, 243, 231)}
.icone-menu,.menu-actif{border: 0;
     line-height: 8vh;
     padding: 0 1em;
     font-family: Fenix;
     font-size: 1rem;
     text-align: center;
     color: #fff;
     text-shadow: 1px 1px 1px #e0dede9c; 
     border-radius: 3px;
     background-color: rgb(98, 243, 231);
     padding :0vh  3vw; transition: 0.2s all;
    overflow: hidden;}
    .icone-menu:visited,.menu-actif:visited{color:blue;}
    
    .icone-menu:hover,.menu-actif:hover {
        background-color: rgb(111, 187, 238);
    } 
    .icone-menu:active,.menu-actif:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
.menu-actif{color: rgb(255, 0, 0);}
/*disposition contenu de la page*/
#en_tete{display:flex;align-items:center;}
h1{ left:26vw;
     top:28vh;
     text-align: center;
     margin-left: 48px;
    }   
h2{ font-size: 2em; text-align: center;} 
#cadre-photo-profil{ height:28vh;
    width:28vh;
    margin:15px 15px 15px 48px;
     border-image:none;
     border-style:solid;
     border-color:black;
     border-radius:50%;
     border-width:2px;
     overflow:hidden;}
#photo-profil{height:28vh;width:28vh;}
#titre-page,#titre-projet{display: flex;
    align-items: center;
    justify-content: center;
    height:6vh;
    width:65vw;
    color:#0500ff;
    font-size: 2.5rem;
    background-color: rgba(210,80,189,0.29);}
#titre-projet{margin:2vh 10vw;width:75vw;}    
   
p{display:flex;margin:auto;width:85vw;justify-content: center;}

/*pied de page*/
footer{height: 10vh;background :linear-gradient(rgba(255,249,229,0.17),rgba(255,7,7,0.53));    
}
#pied-page{display:flex;height:10vh;min-height:55px ;align-items:center;}
.icones{height:40px;width:48px; margin:0 4vw;align-items:center;}
