/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
ol,ul {
  list-style: none;
}
blockquote,q {
  quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*déclaration des polices*/
@font-face {
  font-family: Fenix;
  src: url($lib/fonts/Fenix/Fenix.eot) format(eot),
       url($lib/fonts/Fenix/Fenix.svg) format(svg),
       url($lib/fonts/Fenix/Fenix.ttf) format(ttf),
       url($lib/fonts/Fenix/Fenix.woff) format(woff),
       url($lib/fonts/Fenix/Fenix.woff2) format(woff2);
  font-weight:400;
  font-style:normal;
}
@font-face {
  font-family: Anson;
  src: url($lib/fonts/Anson/anson-regular-webfont.eot) format(eot),
       url($lib/fonts/Anson/anson-regular-webfont.svg) format(svg),
       url($lib/fonts/Anson/anson-regular-webfont.ttf) format(ttf),
       url($lib/fonts/Anson/anson-regular-webfont.woff) format(woff);
  font-weight: 400;
  font-style:normal;
}
/*déclaration des variables globales*/
:root {
    /*déclarations des couleurs*/
    --color-nav :rgb(98, 243, 231);
    --color-button-back : rgb(111, 187, 238);
    --color-title-back : rgba(210,80,189,0.29);
    --color-title-font : rgb(5, 0, 255);
    --color-footer-top : rgba(255,249,229,0.17);
    --color-footer-bottom : rgba(255,7,7,0.53);
    --color-shadow-1 : rgba(224, 222, 222, 0.6);
    --color-button-shadow-1 : rgba(255, 255, 255, 0.6);
    --color-button-shadow-2 : rgba(0, 0, 0, 0.6);
/*declaration des polices*/
    --font-size-title : max(6vmin,2rem);
    
/*déclaration de tailles diverses*/
    --taille-header-mq1 : calc(8vh + 24px);
    --taille-header-mq2 : calc(8vh + 48px);
    --taille-main-mq1 : calc(82vh - 24px);
    --taille-main-mq2 : calc(82vh - 48px);
    
}

*{
  text-decoration: none;
  cursor: url('$lib/images/icons/fusee.png'), auto;
}
/*dimensionnement général de la page*/

header{
    height:8vh; 
    min-height:48px;
}
body{font-family: Fenix;
    min-height:100vh;
}   
main{
    min-height: 82vh;
     width: 100%;
    }
 @media screen and (min-width : 770px){
    header {height: var(--taille-header-mq1);}
    main {min-height: var(--taille-main-mq1);}
 }
 @media screen and (min-width: 1050px){
    header {height: var(--taille-header-mq2);}
    main {min-height: var(--taille-main-mq2);}
 }