 /*disposition contenu de la page*/
 #en_tete{
    display:flex;
    align-items:center;
}
h1,h2,h3,h4,h5,h6{
    font-family: Anson ;
    text-transform: uppercase;
}
h1{ 
    left:26vw;
     top:28vh;
     min-height:50px;
     text-align: center;
     margin: 0 3% 0 0;
    }   
h2{ 
    font-size: 2em;
    text-align: center;
    min-height:50px;
} 

#titre-page,#titre-projet{
    display: flex;
    align-items: center;
    justify-content: center;
    height:6vh;
    width:65vw;
    color:#0500ff;
    border-radius:8px;
    font-size: max(6vmin,2rem);
    line-height: 1.5rem;
    background-color: rgba(210,80,189,0.29);
}
#titre-projet{position: relative;
    top:1vh;
    left:2vw;right:2vw;
    margin:0 10vw 2vh;/*mettre des margin-top:0; pour remettre les pages sans curseurs, ou bien trouver une autre méthode*/
    width:75vw;
}
p
{font-style:italic;
    font-size:18px;
    display:flex;
    margin:auto;
    width:85vw;
    justify-content: center;
    color: white;
}
@media screen and (min-width : 770px){
    #titre-page,#titre-projet{font-size: 2.5rem;}
    #titre-projet{margin:0 10vw 2vh;}
}
